<%session[:sum]+=1%>
<h1>Mi cuenta es : <%=session[:sum]%></h1>

<form action="/" method="get">
  <input type="hidden" name="valor" value="1">
  <input type="submit" value="suma"></input>
</form>
